.allPass{
    width:100px;
    background-color: rgb(0, 0, 0);
}

#card1{
    margin-top: 60px;
}
.cardimg{
    margin-left: 165px;
    margin-top: 30px;
}


.card2{
    width: 60%;
    margin-left: 18%;
    border-radius: 10px;
    border-color:light gray;
}



#card4pd{
    margin-top: 20px;
}
#usericon{
    padding-right: 15px;
    margin-right: 10px;
}
#card4buttons{
    margin-top: 60px;
    margin-left: 40px;
}
input[type=radio]{
    transform:scale(1.5);
  }
  #inlineradio2{
      margin-right: 20px;
  }
  #femalespace{
      margin-right: 80px;
      margin-left: 20px;
  }
  #malespace{
      margin-left: 20px;
      padding-right: 20px;
  }
  #dob{
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    margin: .4rem 0;
  }
  #start{
    margin: .4rem 0;
    
  }
#card4dob{
    margin-top: 40px;
    
}
#card4phone{
    margin-top: 40px;
}
#card4email{
    margin-top: 40px;
}
#card5text{
    text-align: left;
}
#card5text2{
    margin-left: 40px;
}
#gpayicon{
    transform:scale(3);
    margin-left: 50%;
}
#creditcard{
    margin-right: 40px;
    transform:scale(1.5);
}
#cardnumber{
    margin-top: 40px;
}
#cddetails{
    margin-top: 40px;
}
#cv{
    margin-left: 30px;
}
#namecard{
    margin-top: 40px;
}
#card5add{
    margin-top: 40px;
}
#card5city{
    margin-top: 40px;
}
#card5state{
    margin-top: 40px;
}
#card5zip{
    margin-top: 40px;
}
#card5bottomtext{
    margin-top: 40px;
}
#savebutton{
    padding-left: 10px;
    padding-right: 10px;
}
.card1sttext{
    color: black;
}


/*========================================SEAT BOOKING=====================================================================*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background-color: #eee;
}

::-moz-selection {
  background-color: #eee;
}

/* body {
  font-size: 16px;
  background-color: #269686;
} */

.theatre {
  margin: 20px auto;
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px 10px;
  box-shadow: 0px 0px 17px -4px #000;
}

.screen-side {
  text-align: center;
}

.screen-side .screen {
  height: 25px;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow: 0px -3px 0px 1px #ccc;
  color: #ccc;
}

.screen-side .select-text {
  color: #969696;
}

.exit {
  position: relative;
  height: 50px;
}

.exit:before,
.exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 5px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: #81c784;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}

.exit:before {
  left: 0;
}

.exit:after {
  right: 0;
}



.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.seat {
  display: flex;
  flex: 0 0 55px;
  padding-right: 20px;
  padding-top: 3px;
  position: relative;

}

.seat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.seat input[type="checkbox"]:checked+label {
  background: #bada55;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat input[type="checkbox"]:disabled+label {
  background: #ddd;
  text-indent: -9999px;
  overflow: hidden;
}

.seat input[type="checkbox"]:disabled+label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.seat input[type="checkbox"]:disabled+label:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  color: #fff;
  background: #26a69a;
  border-radius: 50%;
  animation-duration: 300ms;
  animation-fill-mode: both;
  transition-duration: 300ms;
}

.seat label:hover {
  cursor: pointer;
  box-shadow: 0px 0 7px 3px #ccc;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}