$darkest-grey:rgb(42, 42, 48);
$black:rgb(16, 16, 17);
$medium-grey:rgb(78, 78, 80);
$light-grey:rgb(154, 154, 155);
$transparent-grey:rgba(78, 78, 80, 0.4);
$black-lighter:rgba(8, 8, 8, 0.3);
$font-light:rgb(240, 247, 238);
$font-light-transparent:rgba(240, 247, 238, 0.836);
$height-field: 3.5rem;
$font-size-custom: 1.2em;
$before-color: rgb(255, 154, 139);
$after-color:rgb(240, 247, 238);
$grad-pink:rgb(255, 154, 139);
$grad-red:rgb(219, 39, 99);
$light-pink:rgba(255, 189, 179, 0.692);
$after-color-login:rgb(219, 39, 99);
$grad-red-warning:rgb(243, 9, 60);
$before-color-login:rgb(240, 247, 238);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100vw;
    height:100vh;
    padding: 5% 14%;
    //font-family: 'Average Sans', sans-serif;
    background-image: linear-gradient(51deg, #2a2a30, #010101);
}
