$red: #e84c3d;
$red:rgb(219, 39, 99);
$grey: #ecedef;
$black: #343434;
$darkest-grey:rgb(42, 42, 48);
$black:rgb(16, 16, 17);
$medium-grey:rgb(78, 78, 80);
$light-grey:rgb(154, 154, 155);
$transparent-grey:rgba(78, 78, 80, 0.4);
$black-lighter:rgba(8, 8, 8, 0.3);
$font-light:rgb(240, 247, 238);
$font-light-transparent:rgba(240, 247, 238, 0.836);
$height-field: 3.5rem;
$font-size-custom: 1.2em;
$before-color: rgb(255, 154, 139);
$after-color:rgb(240, 247, 238);
$grad-pink:rgb(255, 154, 139);
$grad-red:rgb(219, 39, 99);
$light-pink:rgba(255, 189, 179, 0.692);
$after-color-login:rgb(219, 39, 99);
$grad-red-warning:rgb(243, 9, 60);
$before-color-login:rgb(240, 247, 238);

*{
    user-select: none;
}
html{
    overflow: hidden;
    height: 100vh;
}

body {
    height:100%;
    //padding: 5% 14%;
    //font-family: 'Average Sans', sans-serif;
    background-image: linear-gradient(51deg, #2a2a30, #010101);
    display: flex;
    
    justify-content: center;
}
.cardWrap {
  //width: 27em;
  //margin: 3em auto;
  margin: auto;
  color: $font-light;
  font-family: sans-serif;
}

.card {
  background: linear-gradient(to bottom, $red 0%, $red 26%, $grey 26%, $grey 100%);
  height: 11em;
  float: left;
  position: relative;
  padding: 1em;
  //margin-top: 100px;
}

.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 16em;
}

.cardRight {
  width: 6.5em;
  border-left: .18em dashed $black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: $black;
    border-radius: 50%;
    left: -.5em;
  }
  &:before {
    top: -.4em;
  }
  &:after {
  bottom: -.4em;
  }
  
}

h1 {
  font-size: 1.1em;
  margin-top: 0;
  span {
    font-weight: normal;
  }
}

.title, .name, .seat, .time {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
    font-size: .9em;
    //color: #525252;
    color: $medium-grey;
    margin: 0;
   }
  span {
    font-size: .7em;
    color: #737979;
  }
}

.title {
  margin: 2em 0 0 0;
}

.name, .seat {
  margin: .7em 0 0 0;
}

.time {
  margin: .7em 0 0 1em;
}

.seat, .time {
  float: left;
}

.number {
  text-align: center;
  text-transform: uppercase;
  h3 {
    color: $red;
    margin: 2em 0 0 0;
    font-size: 1.7em;
    
  }
  span {
    display: block;
    color: #a2aeae;
  }
}

.barcode {
  height: 2em;
  width: 0;
  margin: 1.2em 0 0 .8em;
  box-shadow: 1px 0 0 1px $black,
  5px 0 0 1px $black,
  10px 0 0 1px $black,
  11px 0 0 1px $black,
  15px 0 0 1px $black,
  18px 0 0 1px $black,
  22px 0 0 1px $black,
  23px 0 0 1px $black,
  26px 0 0 1px $black,
  30px 0 0 1px $black,
  35px 0 0 1px $black,
  37px 0 0 1px $black,
  41px 0 0 1px $black,
  44px 0 0 1px $black,
  47px 0 0 1px $black,
  51px 0 0 1px $black,
  56px 0 0 1px $black,
  59px 0 0 1px $black,
  64px 0 0 1px $black,
  68px 0 0 1px $black,
  72px 0 0 1px $black,
  74px 0 0 1px $black,
  77px 0 0 1px $black,
  81px 0 0 1px $black;
}

.stamp{
    position: absolute;
     height:100px;
    width:115px;
    left:50%;
    top:50%;
    content: url('./images/stamp.png');
    //background-color:#ef8080;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-delay:2.5s;
    -webkit-animation-delay:2.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 0;
    -webkit-animation-fill-mode:forwards;
     animation-fill-mode:forwards;
  }
  
@keyframes pulse{
    0%{
      opacity: 0;
    }
    10%{
      opacity:.50;
      transform-origin: 50% 50%;
      transform: rotate(-2deg) scale(5);
      transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100%{
      opacity:1;
      transform: rotate(-15deg) scale(1);
    }
  }
  
  
  
  