* {
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    background-size: cover;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/full-lonely.jpg") no-repeat center center fixed;
    background-blend-mode: darken;
    transition: 3s;
  }
  
  body {
    margin: 0;
  }
  
  div#texttop {
    color: #fff;
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
    padding: 2rem;
    border: 4px double rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
    font-family: Oxygen, sans-serif;
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
    font-weight: 100;
  }
  
  p {
    line-height: 1.6;
  }
  
  
  @media all and (max-width: 770px) {
    div#texttop {
      display: none;
    }
  }