* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
  padding: 5% 14%;
  font-family: 'Average Sans', sans-serif;
  background: linear-gradient(51deg, #2a2a30, #010101);
}

body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: #2e2e2ee0;
}

body::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 5px;
}

.sub-title-top,
.main-title,
.sub-title-bottom {
  font-family: 'Overlock', cursive;
}

.sub-title-top {
  color: #ff9a8b;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 0.9;
}

.sub-title-2 {
  font-family: 'Overlock', cursive;
  font-size: 2rem;
  margin-top: 0.5em;
  font-weight: 600;
  background-image: linear-gradient(80deg, #ff9a8b, #f0f7ee);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-title {
  font-size: 3rem;
  font-weight: 700;
  background-image: linear-gradient(80deg, #db2763, #ff9a8b);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sub-title-bottom-1 {
  color: #db2763;
  font-size: 1.8rem;
  margin-top: 0.8em;
  font-weight: 600;
}

.row-1 {
  margin: 1em 0 2em 0;
}

.entree-pic-division .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entree-pic-division .row-1 .pic-1-img {
  cursor: pointer;
  content: url("./images/sandwich.png");
}

.entree-pic-division .row-1 .pic-2-img {
  cursor: pointer;
  content: url("./images/noodles.png");
}

.entree-pic-division .row-1 .pic-3-img {
  cursor: pointer;
  content: url("./images/steak-cropped.png");
}

.entree-pic-division .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entree-pic-division .row-2 .pic-1-img {
  cursor: pointer;
  content: url("./images/indian thali.png");
}

.entree-pic-division .row-2 .pic-2-img {
  cursor: pointer;
  content: url("./images/pizza.png");
}

.entree-pic-division .row-2 .pic-3-img {
  cursor: pointer;
  content: url("./images/pancake.png");
}

.snacks-pic-division .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.snacks-pic-division .row-1 .pic-1-img {
  cursor: pointer;
  content: url("./images/fries.png");
}

.snacks-pic-division .row-1 .pic-2-img {
  cursor: pointer;
  content: url("./images/samosa.png");
}

.snacks-pic-division .row-1 .pic-3-img {
  cursor: pointer;
  content: url("./images/croissant.png");
}

.snacks-pic-division .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.snacks-pic-division .row-2 .pic-1-img {
  cursor: pointer;
  content: url("./images/waffle.png");
}

.snacks-pic-division .row-2 .pic-2-img {
  cursor: pointer;
  content: url("./images/burger.png");
}

.snacks-pic-division .row-2 .pic-3-img {
  cursor: pointer;
  content: url("./images/nachos.png");
}

.desserts-pic-division .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desserts-pic-division .row-1 .pic-1-img {
  cursor: pointer;
  content: url("./images/pannacotta.png");
}

.desserts-pic-division .row-1 .pic-2-img {
  cursor: pointer;
  content: url("./images/parfait.png");
}

.desserts-pic-division .row-1 .pic-3-img {
  cursor: pointer;
  content: url("./images/raspberryjampastry.png");
}

.desserts-pic-division .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desserts-pic-division .row-2 .pic-1-img {
  cursor: pointer;
  content: url("./images/chococupcake.png");
}

.desserts-pic-division .row-2 .pic-2-img {
  cursor: pointer;
  content: url("./images/cheesecake.png");
}

.desserts-pic-division .row-2 .pic-3-img {
  cursor: pointer;
  content: url("./images/icecream.png");
}

.beverages-pic-division .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.beverages-pic-division .row-1 .pic-1-img {
  cursor: pointer;
  content: url("./images/cranberryjuice.png");
}

.beverages-pic-division .row-1 .pic-2-img {
  cursor: pointer;
  content: url("./images/coffee.png");
}

.beverages-pic-division .row-1 .pic-3-img {
  cursor: pointer;
  content: url("./images/lassi.png");
}

.pic-1-img, .pic-2-img, .pic-3-img {
  opacity: 0.5;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.pic-1-img:hover, .pic-2-img:hover, .pic-3-img:hover {
  opacity: 1;
}

.pic-1:hover .food-name, .pic-2:hover .food-name, .pic-3:hover .food-name {
  color: #db2763;
}

.pic-1:hover .price, .pic-2:hover .price, .pic-3:hover .price {
  color: #ff9a8b;
}

.entree-pic-division, .snacks-pic-division, .desserts-pic-division {
  margin-bottom: 5em;
}

.desserts-pic-division, .beverages-pic-division {
  margin-top: 3em;
}

.snacks-pic-division {
  margin-top: 1em;
}

.pic-1-dets,
.pic-2-dets,
.pic-3-dets {
  margin-top: 1em;
  margin-left: 0.5em;
}

.food-name {
  color: #ff9a8b;
  font-size: 1.2rem;
  font-weight: 500;
  -webkit-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

.price {
  color: #f0f7ee;
  -webkit-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

hr {
  border: 1px solid transparent;
  -o-border-image: linear-gradient(45deg, #ff9a8b, #db2763);
     border-image: linear-gradient(45deg, #ff9a8b, #db2763);
  border-image-slice: 1;
  opacity: 0.8;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #2a2a30, #101011);
  -webkit-box-shadow: 10px 0 30px rgba(0, 0, 0, 0.521);
          box-shadow: 10px 0 30px rgba(0, 0, 0, 0.521);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .left-nav,
.nav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav a {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  font-size: 1.2rem;
  font-family: 'Overlock', cursive;
  font-weight: 700;
  color: #ff9a8b;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-left: 0.8em;
  cursor: pointer;
  /* &::after{
            content: "";
            display:block;
            border:1px solid $grad-red;
            transform:translateX(-100%);
            opacity:0;
            width: inherit;
            position: relative;
            margin-top:0.2em;
            transition: transform 400ms ease-in;
            transform: opacity 100ms ease;
        } */
}

.nav a:hover {
  color: #db2763;
}

.nav .nav-elem-1 a {
  text-transform: capitalize;
}

.nav #uname a {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(45deg, #f0f7ee, #ff9a8b);
}

svg {
  display: block;
  shape-rendering: crispEdges;
}

.plane-container {
  -webkit-perspective: 900px;
          perspective: 900px;
}

@-webkit-keyframes flyaround {
  0% {
    -webkit-transform: rotateX(0deg) translateZ(140px) scale3d(1, 1, 1);
            transform: rotateX(0deg) translateZ(140px) scale3d(1, 1, 1);
    fill: #636060;
    opacity: 1;
  }
  50% {
    -webkit-transform: rotateX(180deg) translateZ(140px) scale3d(1, 1, 1);
            transform: rotateX(180deg) translateZ(140px) scale3d(1, 1, 1);
    fill: #636060;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg) translateZ(140px) scale3d(1, 1, 1);
            transform: rotateX(360deg) translateZ(140px) scale3d(1, 1, 1);
    fill: #636060;
    opacity: 1;
  }
}

@keyframes flyaround {
  0% {
    -webkit-transform: rotateX(0deg) translateZ(140px) scale3d(1, 1, 1);
            transform: rotateX(0deg) translateZ(140px) scale3d(1, 1, 1);
    fill: #636060;
    opacity: 1;
  }
  50% {
    -webkit-transform: rotateX(180deg) translateZ(140px) scale3d(1, 1, 1);
            transform: rotateX(180deg) translateZ(140px) scale3d(1, 1, 1);
    fill: #636060;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg) translateZ(140px) scale3d(1, 1, 1);
            transform: rotateX(360deg) translateZ(140px) scale3d(1, 1, 1);
    fill: #636060;
    opacity: 1;
  }
}

.plane {
  fill: none;
  -webkit-animation: flyaround 2500ms infinite linear;
          animation: flyaround 2500ms infinite linear;
}

.delay-1 {
  -webkit-animation-delay: 123ms;
          animation-delay: 123ms;
}

.delay-2 {
  -webkit-animation-delay: 2023ms;
          animation-delay: 2023ms;
}

.delay-3 {
  -webkit-animation-delay: 773ms;
          animation-delay: 773ms;
}

.delay-4 {
  -webkit-animation-delay: 1123ms;
          animation-delay: 1123ms;
}
/*# sourceMappingURL=food.css.map */