* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Sarabun', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-1 {
  height: 100%;
  width: 100%;
  background-image: url("images//elizabeth-camp-9q7prd3EeT0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 30% 60%;
      grid-template-rows: 10% 30% 60%;
}

.nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 1.1rem;
}

.other-links {
  width: 45%;
}

.logo {
  margin: auto 0;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: bold;
  line-height: 60px;
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 0.045em;
  text-transform: uppercase;
}

.nav-items a:active, .nav-items a:visited, .nav-items a:link {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: #2b0049;
}

/*.signup{
    position: relative; //required to send the after element back
    z-index: 10000;
    display: flex;
    transform:scale(1);
    justify-content: center;
    align-items: center;
    overflow:hidden;
    border-radius: 2em;
    height: 2.4em;
    width: 10em;
    cursor: pointer; //faulty
    transition: all 700ms ease-in-out;
    background-image: linear-gradient(50deg, $text-dark, $dark-red);
    a:active , a:visited, a:link{
        color:$before-color;
    }
    &:hover{
        border-radius: 2px;
    }
    /*
            

        &::before{
            transform: translateY(0%);
            height: 2.5em;
            border-radius: 2px;
        }
    &::before{
        content: " ";
        display: block;
        transform: translateY(100%);
        position: absolute;
        z-index: -1;
        height: 2.5em;
        width: 10em;
        border-radius: 2em;
        transition: all 500ms ease-in;
        //transition: border 200ms ease-in;
        background-image: linear-gradient(50deg, $text-dark, $dark-red);
    }
}*/
.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-text {
  width: 88%;
  color: #f4f0ff;
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

.text-content {
  width: 89%;
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
  font-weight: bolder;
  color: #f4f0ff;
  text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  opacity: 0.7;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  border-radius: 4px;
  margin-top: 7em;
  height: 15em;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5em 5em;
  font-weight: 600;
}

.heading {
  color: #61042c;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5em;
}

.input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-flights {
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  /*
    display: block;
    transform:scale(1);
    height: 2.5em;
    width: 12em;
    background-image: linear-gradient(50deg, $dark-red, $text-dark);
    border: none;
    outline: none;
    border-radius: 2em;
    color: $before-color;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 500ms ease-in;
    &:hover{
        border-radius: 2px;
    }*/
}

.btn {
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  /*stroke: #EC0033;*/
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span {
  background: #ff8282;
  background: -webkit-gradient(linear, left top, right top, from(#2b0049), to(#61042c));
  background: linear-gradient(to right, #2b0049 0%, #61042c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

.fa-calendar-day {
  color: #61042c;
  opacity: 0.5;
  position: absolute;
  top: 50.5%;
  left: 90%;
  font-size: 1.335rem;
  pointer-events: none;
  cursor: pointer;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

::-webkit-calendar-picker-indicator {
  background-image: url("../images/calendar.png");
  margin-bottom: 0.5em;
  cursor: pointer;
}

#today {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.location {
  color: #61042c;
  position: absolute;
  top: 50%;
  left: 88%;
  font-size: 1.1rem;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 80%;
}

.add, .subtract {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #61042c;
  font-size: 1rem;
}

.add .fas, .subtract .fas {
  pointer-events: none;
}

.add {
  margin-right: 0.5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.formi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15rem;
  height: 3.5rem;
  overflow: hidden;
}

.formi input {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  color: #2b0049;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  padding-top: 2rem;
}

.formi input:focus + .label-name .content-name, .formi input:valid + .label-name .content-name {
  /* :valid ensures that when input text is added and the focus is shifted somwehere else
            the label doesn't come back to its initial position*/
  color: #2b0049;
  font-size: 0.99em;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.formi label {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-bottom: 2px solid #61042c;
  color: #61042c;
}

.formi label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #2b0049;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /*Moving the blue line out of frame initially also, 
            since overflow is not hidden it is visible on the frame when overflow:hidden; 
            not applied to parent*/
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.content-name {
  position: absolute;
  top: 2rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 1.1em;
}

.formi input:focus + .label-name::after, .formi input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  border-color: #2b0049;
}

.fas {
  background-image: linear-gradient(50deg, #2b0049, #61042c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
}

.passenger-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5em;
  color: #61042c;
}

.passenger-class label {
  position: relative;
  margin: 0.675rem 1.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.passenger-class .uno {
  margin-left: 0rem;
}

.passenger-class .check {
  margin-right: 7px;
  width: 1.35rem;
  height: 1.35rem;
}

.passenger-class .check #border {
  fill: none;
  stroke: #61042c;
  stroke-width: 3;
  stroke-linecap: round;
}

.passenger-class .check #dot {
  fill: url(#grad1);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.passenger-class input {
  display: none;
}

.passenger-class input:checked + label {
  font-weight: 600;
  background: linear-gradient(80deg, #61042c, #2b0049);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.passenger-class input:checked + label svg #border {
  stroke: url(#grad1);
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  -webkit-animation: checked 500ms ease forwards;
          animation: checked 500ms ease forwards;
}

.passenger-class input:checked + label svg #dot {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: -webkit-transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25), -webkit-transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
}

@-webkit-keyframes checked {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes checked {
  to {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=homepage-style.css.map */