* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Average Sans', sans-serif;
}

.fas {
  background-image: linear-gradient(50deg, #ff9a8b, #db2763);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
  display: block;
}

.home-page {
  height: 100%;
  width: 100%;
  color: #f0f7ee;
}

.row-1 {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 51% 49%;
      grid-template-columns: 51% 49%;
}

.col-1, .col-2 {
  height: 100%;
}

.col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(45deg, #2a2a30, #101011);
}

.col-2 {
  background-color: #4e4e50;
  padding: 3em 4em;
}

.main-content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
  width: 70%;
}

.title-1 {
  font-family: 'Overlock', cursive;
  font-size: 2.5rem;
  font-weight: 900;
}

.formi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 3.5rem;
  overflow: hidden;
  margin-top: 1em;
}

.formi input {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  color: #f0f7ee;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  padding-top: 2rem;
}

.formi input:focus + .label-name .content-name, .formi input:valid + .label-name .content-name {
  /* :valid ensures that when input text is added and the focus is shifted somwehere else
            the label doesn't come back to its initial position*/
  color: #f0f7ee;
  font-size: 1.08em;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.formi label {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-bottom: 2px solid #ff9a8b;
  color: #ff9a8b;
}

.formi label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #f0f7ee;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /*Moving the blue line out of frame initially also, 
            since overflow is not hidden it is visible on the frame when overflow:hidden; 
            not applied to parent*/
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.content-name {
  position: absolute;
  top: 2rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 1.2em;
}

.formi input:focus + .label-name::after, .formi:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  border-color: #f0f7ee;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 90%;
}

.add, .subtract {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #ff9a8b;
  font-size: 1rem;
}

.add .fas, .subtract .fas {
  pointer-events: none;
}

.add {
  margin-right: 0.5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fa-calendar-day {
  color: #ff9a8b;
  opacity: 0.8;
  position: absolute;
  top: 50.5%;
  left: 94%;
  font-size: 1.335rem;
  pointer-events: none;
  cursor: pointer;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

::-webkit-calendar-picker-indicator {
  background-image: url("../images/calendar.png");
  margin-bottom: 0.5em;
  cursor: pointer;
}

#today {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.arrow {
  color: #ff9a8b;
  position: absolute;
  top: 50%;
  left: 95%;
  font-size: 1.4rem;
  font-weight: lighter;
}

.fa-angle-down {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.dropdown {
  position: absolute;
  background-color: rgba(26, 26, 29, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 100000;
  width: 32%;
  overflow: scroll;
  border-bottom: 3px solid #ff9a8b;
  -webkit-box-shadow: 0 1px 40px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 40px rgba(255, 255, 255, 0.1);
  display: none;
  height: 0;
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.dropdown div {
  padding-left: 1em;
  height: 3em;
  border: 3px solid #ff9a8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.dropdown div:hover {
  color: #2a2a30;
  background-color: #ff9a8b;
}

@supports not ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .dropdown {
    background-color: #2a2a30;
  }
}

@-webkit-keyframes onclick {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes onclick {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.btn {
  position: relative;
  display: inline-block;
  outline: none;
  width: 277px;
  height: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.045em;
  margin: 1.5em 40%;
}

.animateButton {
  -webkit-animation-name: onclick;
          animation-name: onclick;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  /*stroke: #EC0033;*/
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span {
  background: #ff8282;
  background: -webkit-gradient(linear, left top, right top, from(#ff9a8b), to(#db2763));
  background: linear-gradient(to right, #ff9a8b 0%, #db2763 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

.overlay {
  background-image: linear-gradient(45deg, #2a2a30, #101011);
  height: 100%;
  width: 51%;
  position: absolute;
  overflow: scroll;
  opacity: 0;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.direct-flights-o, .via-flights-o {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border: 4px solid transparent;
  border-image-slice: 1;
  width: 85%;
  height: 7em;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  background: rgba(8, 8, 8, 0.3);
}

.card:hover {
  color: #ffbdb3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.overlay-title {
  font-family: 'Overlock', cursive;
  font-size: 2.3rem;
  font-weight: 900;
  display: block;
  margin-left: auto;
  width: 90%;
  margin-top: 1.5em;
}

.overlay-title-2 {
  font-size: 2.1rem;
}

.overlay-title-2 span {
  font-family: 'Overlock', cursive;
}

.direct-flights-title, .via-flights-title {
  width: 80%;
  margin: 0.5em 0;
  font-size: 1.5rem;
}

.via-flights-title {
  margin-left: 10%;
}

@-webkit-keyframes onclickCard {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes onclickCard {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animateCard {
  -webkit-animation-name: onclickCard;
          animation-name: onclickCard;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.card-content {
  margin: 1em 0 0 1em;
  font-size: 1.2rem;
  pointer-events: none;
  width: 100%;
}

.places, .time, .price-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5em;
}

.places, .time {
  border-right: 2px solid transparent;
  -o-border-image: linear-gradient(#ff9a8b, #db2763);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a8b), to(#db2763));
     border-image: linear-gradient(#ff9a8b, #db2763);
  border-image-slice: 1;
}

.via-flights-o .places {
  width: 48%;
}

.via-flights-o .time, .via-flights-o .price-details {
  margin-left: 0.5em;
  width: 26%;
}

.direct-flights-o .places {
  width: 35%;
}

.direct-flights-o .time, .direct-flights-o .price-details {
  width: 30%;
  margin-left: 0.5em;
}

.via-flights-o .card-4 {
  background-image: linear-gradient(45deg, #ff9a8b, #db2763);
  color: #2a2a30;
  border: none;
  font-weight: 700;
}

.via-flights-o .card-4 .places, .via-flights-o .card-4 .time {
  -o-border-image: none;
     border-image: none;
  border-right: 2px solid #2a2a30;
}

.optimised {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.optimised span {
  opacity: 0.9;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2a2a30;
}

.optimised span .dot-opt {
  height: 0.3em;
  width: 0.3em;
  border-radius: 50%;
  background: #2a2a30;
  margin: auto 0;
}

.sortby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  color: #f0f7ee;
}

.sortby button {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  color: #f0f7ee;
  font-size: 1.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=homepageStyle.css.map */