* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("./images/night-gabriel-santos-usplash.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Average Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-content {
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.562);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 7% 7%;
}

.form-heading {
  font-family: 'Overlock', cursive;
  font-size: 2rem;
  font-weight: 700;
  background-image: linear-gradient(75deg, #14d4d4, #db2763);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.formi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 3.5rem;
  overflow: hidden;
  margin-top: 1.2em;
}

.formi input {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  color: #f0f7ee;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  padding-top: 2rem;
}

.formi input:focus + .label-name .content-name,
.formi input:valid + .label-name .content-name {
  /* :valid ensures that when input text is added and the focus is shifted somwehere else
            the label doesn't come back to its initial position*/
  color: #f0f7ee;
  font-size: 1.08em;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.formi label {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-bottom: 2px solid #14d4d4;
  color: #14d4d4;
}

.formi label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #f0f7ee;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /*Moving the blue line out of frame initially also, 
            since overflow is not hidden it is visible on the frame when overflow:hidden; 
            not applied to parent*/
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.content-name {
  position: absolute;
  top: 2rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 1.2em;
}

.formi input:focus + .label-name::after,
.formi:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  border-color: #f0f7ee;
}
/*# sourceMappingURL=index1.css.map */