$darkest-grey:rgb(42, 42, 48);
$black:rgb(16, 16, 17);
$medium-grey:rgb(78, 78, 80);
$transparent-grey:rgba(78, 78, 80, 0.4);
$black-lighter:rgba(8, 8, 8, 0.3);
$font-light:rgb(240, 247, 238);
$height-field: 3rem;
$font-size-custom: 1em;
$before-color: rgb(255, 154, 139);
$after-color:rgb(240, 247, 238);
$grad-pink:rgb(255, 154, 139);
$grad-red:rgb(219, 39, 99);
$grad-red-warning:rgb(243, 9, 60);
$light-pink:rgb(253, 212, 206);
$after-color-login:rgb(219, 39, 99);
$before-color-login:rgb(240, 247, 238);
$height-field-login:3rem;
$font-size-custom-login:1em;


@mixin removeStyle() {
    outline: none;
    background: transparent;
    text-decoration: none;
    border: none;
}


*{
    padding:0;
    box-sizing: border-box;
    margin:0;
    user-select: none;
    &::-webkit-scrollbar{
        display: none;
    }
}

a{
    text-decoration: none;
    color: $grad-pink;
}

ol, ul{
    list-style: none;
    padding: 0;
    margin: 0;
 }

body{
    background-image: linear-gradient(45deg, $darkest-grey, $black);
    color: $light-pink;
    font-family: 'Average Sans', sans-serif;
    
}

//footer links
.footer{
    text-align: center;
    color:$grad-red;
}
.links{
    text-align: center;
    color:$grad-red;
}
.footerlinks{
    margin-left: 1em;
    color:$grad-red;
}

.card{
    background-color: $black;
    padding:2em;
    width: 60%;
    margin-left: 18%;
    border: 4px solid transparent;
    border-image: linear-gradient(45deg, $grad-red, $grad-pink);
    border-image-slice: 1;
    border-radius: 4px;
    margin-bottom:1.5em;
    font-size:1rem;
}

#card1{
    margin-top: 60px;
}

#card4{
    padding: 2em 2em 0 2em;
}

//all titles go here
.payment-details{
    .main-title, .title-masks, .title-travel, .payments-title{
        
        background-image: linear-gradient(45deg, $grad-pink, $grad-red);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        width: fit-content;
        font-family: 'Overlock', cursive;
        
    }

    .main-title{
        font-weight: 800;
        letter-spacing: 0.05rem;
        font-size:2.8rem;
        margin-bottom: 0.1em;
    }

    .title-masks, .title-travel, .payments-title{
        font-weight: 700;
        letter-spacing: 0.05rem;
        font-size:2rem;
        margin-bottom: 0.2em;
    }

}


#redtext, #redgraph{
    color: $grad-red-warning;
}

.payment-details {
    li{
        margin-top: 0.2em;
    }
}


//form styling
//text-field animation
.formi{
    display: flex;
    position: relative;
    flex-direction: column;
    
    height:$height-field;
    overflow: hidden;
    margin-top: 1.2em;
    //background-color:rgba(240, 240, 240, 0.1);
    //backdrop-filter: blur(10px);

}
.formi input{
    @include removeStyle();
    color: $after-color;
    cursor: pointer;
    height: 100%;
    width:100%;
    font-size: 1.1rem;
    padding-top: $height-field - 1.5rem;
        &:focus + .label-name .content-name, &:valid + .label-name .content-name{
            /* :valid ensures that when input text is added and the focus is shifted somwehere else
            the label doesn't come back to its initial position*/
            color:$after-color;
            font-size:$font-size-custom - $font-size-custom/10;           
            transform: translateY(-140%);
        }
    
    
}

.formi label{
    @include removeStyle();
    position: absolute;
    pointer-events: none;
    width:100%;
    height:100%;
    bottom:0;
    border-bottom: 2px solid $before-color;
    color:$before-color;
        &::after{
            content: "";
            position: absolute;
            width:100%;
            height: 100%;
            border-bottom: 2px solid $after-color;
            left:0;
            transform: translateX(-100%);
            
            /*Moving the blue line out of frame initially also, 
            since overflow is not hidden it is visible on the frame when overflow:hidden; 
            not applied to parent*/
            transition: transform 500ms ease;
        }

}

.content-name{
    position: absolute;
    top: $height-field - 1.5rem;
    transition: all 500ms ease;
    font-size: $font-size-custom;
}

.formi input:focus + .label-name::after, .formi:valid  + label::after{
    transform:translateX(0%);
    border-color: $after-color;
    
    
}


//gradient radio buttons
.gender-radio-button{
    color:$grad-pink;
    margin-top:1.8em;
    label {
        position: relative;
        margin: 0.675rem 0;
        display: flex;
        width: auto;
        align-items: center;
        cursor: pointer;
      }
      
      .check {
        margin-right: 7px;
        width: 1.35rem;
        height: 1.35rem;
      }
      .check #border {
        fill: none;
        stroke: $grad-pink;
        stroke-width: 3;
        stroke-linecap: round;
      }
      .check #dot {
        fill: url(#gradient);
        transform: scale(0);
        transform-origin: 50% 50%;
      }
      
      input {
        display: none;
      }
      input:checked + label {
        font-weight:600;
        background-color: $grad-pink;
        /*background: linear-gradient(180deg, $light-blue-grad, $grad-pink);*/
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      input:checked + label svg #border {
        stroke: url(#gradient);
        stroke-dasharray: 145;
        stroke-dashoffset: 145;
        animation: checked 500ms ease forwards;
      }
      input:checked + label svg #dot {
        transform: scale(1);
        transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
      }
      
      @keyframes checked {
        to {
          stroke-dashoffset: 0;
        }
      }

      .female{
          margin-left: 1rem;
      }
}

.personal-details-title, .personal-details-sub-title{
    font-family: 'Overlock', cursive;
    font-size: 1.5rem;
}

.personal-details-title{
    margin-top:1em;
    margin-bottom: 0.5em;
    color:$font-light;
    font-weight: 600;
}

.personal-details-sub-title{
    color:$grad-red;
}

.passenger-name, .passenger-name-2, .personal-details-card, .imp-details, .address-details{
    display:flex;
}

.passenger-name{
    flex-direction: column;
}

.passenger-name-1, .dob{
    width: 47%;
}

.passenger-name-2{
   
    justify-content: space-between;
}

.middle-name, .last-name, .email , .contact-details, .card-name, .card-number, .card-cvv, .card-exp, .card-city, .card-state{
    width: 80%;
}

.middle-name, .card-number, .card-cvv, .card-city, .email{
    margin-right: 3em;
}

.gender-radio-button{
    display: flex;
}


.contacts{
    display: flex;
    
}



hr{
    border:none;
    border-top: 1px solid $grad-red;
    margin-top:2em;
}



//gradient button animation 
.login-btn {
    position: relative;
    display: inline-block;
    outline: none;
    width: 244px;
    height: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.045em;
    margin: 1.5em 36%;

}

.login-btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.login-btn svg rect {
    /*stroke: #EC0033;*/
    stroke-width: 3;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.login-btn span {
    background: rgb(255, 130, 130);
    background: -moz-linear-gradient(left, $grad-pink 0%, $grad-red 100%);
    background: -webkit-linear-gradient(left, $grad-pink 0%, $grad-red 100%);
    background: linear-gradient(to right, $grad-pink 0%, $grad-red 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.login-btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 170, 543;
    stroke-dashoffset: 437;
}

.login-btn-invisible{
    @include removeStyle();
    margin-left:58%;
}
.nav {
    display: flex;
    position: absolute;
    z-index:200;
    top:0;
    right:0;
    //background-color:$darkest-grey;
    background-image:linear-gradient(45deg,$darkest-grey,$black);
    box-shadow: 10px 0 20px rgba(189, 189, 189, 0.7);
    //left:0;
    //right:50%;
    //width:49%;
    justify-content: space-between; 
    //border:2px solid $grad-red;
    //margin: 1em 1em;
    .left-nav, .right-nav{
        display:flex;
        margin:1em;
        justify-content:space-between;
    }
    a{
        @include removeStyle();
        font-size: 1.2rem;
        font-family: 'Overlock', cursive;
        font-weight: 700;
        //display:block;
        color:$grad-pink;
        overflow:hidden;
        transition:all 300ms ease;
        margin-left: 0.8em;

        /* &::after{
            content: "";
            display:block;
            border:1px solid $grad-red;
            transform:translateX(-100%);
            opacity:0;
            width: inherit;
            position: relative;
            margin-top:0.2em;
            transition: transform 400ms ease-in;
            transform: opacity 100ms ease;
        } */

        &:hover{
            box-shadow:0 3px 0px $grad-red;
        }

       
    }

}

.termsnservices{
    margin-top:1em;
    opacity:0.8;
}