* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #ff9a8b;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(45deg, #2a2a30, #101011);
  color: #fdd4ce;
  font-family: 'Average Sans', sans-serif;
}

.footer {
  text-align: center;
  color: #db2763;
}

.links {
  text-align: center;
  color: #db2763;
}

.footerlinks {
  margin-left: 1em;
  color: #db2763;
}

.card {
  background-color: #101011;
  padding: 2em;
  width: 60%;
  margin-left: 18%;
  border: 4px solid transparent;
  -o-border-image: linear-gradient(45deg, #db2763, #ff9a8b);
     border-image: linear-gradient(45deg, #db2763, #ff9a8b);
  border-image-slice: 1;
  border-radius: 4px;
  margin-bottom: 1.5em;
  font-size: 1rem;
}

#card1 {
  margin-top: 60px;
}

.payment-details .main-title, .payment-details .title-masks, .payment-details .title-travel {
  background-image: linear-gradient(45deg, #ff9a8b, #db2763);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Overlock', cursive;
}

.payment-details .main-title {
  font-weight: 800;
  letter-spacing: 0.05rem;
  font-size: 2.8rem;
  margin-bottom: 0.1em;
}

.payment-details .title-masks, .payment-details .title-travel {
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  margin-bottom: 0.2em;
}

#redtext, #redgraph {
  color: #f3093c;
}

.payment-details li {
  margin-top: 0.2em;
}

.formi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 3.5rem;
  overflow: hidden;
  margin-top: 1.2em;
}

.formi input {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  color: #f0f7ee;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  padding-top: 2rem;
}

.formi input:focus + .label-name .content-name, .formi input:valid + .label-name .content-name {
  /* :valid ensures that when input text is added and the focus is shifted somwehere else
            the label doesn't come back to its initial position*/
  color: #f0f7ee;
  font-size: 1.08em;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.formi label {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-bottom: 2px solid #ff9a8b;
  color: #ff9a8b;
}

.formi label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #f0f7ee;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /*Moving the blue line out of frame initially also, 
            since overflow is not hidden it is visible on the frame when overflow:hidden; 
            not applied to parent*/
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.content-name {
  position: absolute;
  top: 2rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 1.2em;
}

.formi input:focus + .label-name::after, .formi:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  border-color: #f0f7ee;
}
/*# sourceMappingURL=payment.css.map */