/* .fas {
    background-image: linear-gradient(50deg, $grad-pink, $grad-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #ff9a8b;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background: #18181A;
  color: #fdd4ce;
  font-family: 'Average Sans', sans-serif;
}

.footer {
  text-align: center;
  color: #db2763;
}

.links {
  text-align: center;
  color: #db2763;
}

.footerlinks {
  margin-left: 1em;
  color: #db2763;
}

.card {
  background-color: #101011;
  padding: 2em;
  width: 95%;
  margin: 0;
  border: 4px solid transparent;
  -o-border-image: linear-gradient(45deg, #db2763, #ff9a8b);
     border-image: linear-gradient(45deg, #db2763, #ff9a8b);
  border-image-slice: 1;
  border-radius: 4px;
  margin-bottom: 1.5em;
  margin-left: 1em;
  font-size: 1rem;
}

#card1 {
  margin-top: 60px;
}

#card4 {
  padding: 2em 2em 0 2em;
}

.payment-details .main-title,
.payment-details .title-masks,
.payment-details .title-travel,
.payment-details .payments-title,
.payment-details .select-seats-title {
  background-image: linear-gradient(45deg, #ff9a8b, #db2763);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Overlock', cursive;
}

.payment-details .main-title {
  font-weight: 800;
  letter-spacing: 0.05rem;
  font-size: 2.8rem;
  margin-bottom: 0.1em;
}

.payment-details .title-masks,
.payment-details .title-travel,
.payment-details .payments-title,
.payment-details .select-seats-title {
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.class {
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  margin: 0.2em 0.2em 0.2em 0.5em;
  background-image: linear-gradient(80deg, #ff9a8b, #f0f7ee);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Overlock', cursive;
}

.review-booking-title {
  background-image: linear-gradient(45deg, #ff9a8b, #db2763);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Overlock', cursive;
}

.review-booking-title {
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.change-fee-title {
  font-family: 'Overlock', cursive;
  color: #db2763;
  font-size: 1.7rem;
  font-weight: 600;
}

.notice {
  font-family: 'Overlock', cursive;
  color: #db2763;
  font-size: 1.2rem;
  font-weight: 600;
}

#redtext,
#redgraph {
  color: #f3093c;
}

.payment-details li {
  margin-top: 0.2em;
}

.formi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 3rem;
  overflow: hidden;
  margin-top: 1.2em;
}

.formi input {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  color: #f0f7ee;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  padding-top: 1.5rem;
}

.formi input:focus + .label-name .content-name,
.formi input:valid + .label-name .content-name {
  /* :valid ensures that when input text is added and the focus is shifted somwehere else
            the label doesn't come back to its initial position*/
  color: #f0f7ee;
  font-size: 0.9em;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.formi label {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-bottom: 2px solid #ff9a8b;
  color: #ff9a8b;
}

.formi label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #f0f7ee;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /*Moving the blue line out of frame initially also, 
            since overflow is not hidden it is visible on the frame when overflow:hidden; 
            not applied to parent*/
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.content-name {
  position: absolute;
  top: 1.5rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 1em;
}

.formi input:focus + .label-name::after,
.formi:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  border-color: #f0f7ee;
}

.gender-radio-button,
.select-radio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gender-radio-button,
.select-radio-button {
  color: #ff9a8b;
  margin-top: 1.8em;
}

.gender-radio-button label,
.select-radio-button label {
  position: relative;
  margin: 0.675rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.gender-radio-button .check,
.select-radio-button .check {
  margin-right: 7px;
  width: 1.35rem;
  height: 1.35rem;
}

.gender-radio-button .check #border,
.select-radio-button .check #border {
  fill: none;
  stroke: #ff9a8b;
  stroke-width: 3;
  stroke-linecap: round;
}

.gender-radio-button .check #dot,
.select-radio-button .check #dot {
  fill: url(#gradient);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.gender-radio-button input,
.select-radio-button input {
  display: none;
}

.gender-radio-button input:checked + label svg #border,
.select-radio-button input:checked + label svg #border {
  stroke: url(#gradient);
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  -webkit-animation: checked 500ms ease forwards;
          animation: checked 500ms ease forwards;
}

.gender-radio-button input:checked + label svg #dot,
.select-radio-button input:checked + label svg #dot {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: -webkit-transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25), -webkit-transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
}

@-webkit-keyframes checked {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes checked {
  to {
    stroke-dashoffset: 0;
  }
}

.gender-radio-button .female,
.select-radio-button .female {
  margin-left: 1rem;
}

.select-radio-button {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  width: 100%;
}

.select-radio-button label {
  margin: 0;
}

.select-radio-button input:checked + label {
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#db2763), to(#db2763));
  background: linear-gradient(180deg, #db2763, #db2763);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.personal-details-title,
.personal-details-sub-title {
  font-family: 'Overlock', cursive;
  font-size: 1.5rem;
}

.seat-passenger-title {
  font-family: 'Overlock', cursive;
  font-size: 1.2rem;
}

.personal-details-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #f0f7ee;
  font-weight: 600;
}

.personal-details-sub-title {
  color: #db2763;
}

.passenger-name,
.passenger-name-2,
.personal-details-card,
.imp-details,
.address-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.passenger-name {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.passenger-name-1,
.dob {
  width: 47%;
}

.passenger-name-2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-name,
.last-name,
.email,
.contact-details,
.card-name,
.card-number,
.card-cvv,
.card-exp,
.card-city,
.card-state {
  width: 80%;
}

.middle-name,
.card-number,
.card-cvv,
.card-city,
.email {
  margin-right: 3em;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-details-line {
  border: none;
  border-top: 1px solid #db2763;
  margin-top: 2em;
}

.login-btn {
  position: relative;
  display: inline-block;
  outline: none;
  width: 244px;
  height: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.045em;
  margin: 1.5em 36%;
}

.login-btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.login-btn svg rect {
  /*stroke: #EC0033;*/
  stroke-width: 3;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.login-btn span {
  background: #ff8282;
  background: -webkit-gradient(linear, left top, right top, from(#ff9a8b), to(#db2763));
  background: linear-gradient(to right, #ff9a8b 0%, #db2763 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 170, 543;
  stroke-dashoffset: 437;
}

.login-btn-invisible {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  margin-left: 52%;
}

.continue-to-rev-btn-invisible {
  margin-left: 54.5%;
}

.book-btn-invisible {
  margin-left: 58%;
}

.book-btn {
  margin: 0 36%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #2a2a30, #101011);
  -webkit-box-shadow: 10px 0 20px rgba(189, 189, 189, 0.7);
          box-shadow: 10px 0 20px rgba(189, 189, 189, 0.7);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .left-nav,
.nav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav a {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  font-size: 1.2rem;
  font-family: 'Overlock', cursive;
  font-weight: 700;
  color: #ff9a8b;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-left: 0.8em;
  cursor: pointer;
  /* &::after{
            content: "";
            display:block;
            border:1px solid $grad-red;
            transform:translateX(-100%);
            opacity:0;
            width: inherit;
            position: relative;
            margin-top:0.2em;
            transition: transform 400ms ease-in;
            transform: opacity 100ms ease;
        } */
}

.nav a:hover {
  color: #db2763;
}

.nav .nav-elem-1 a {
  text-transform: capitalize;
}

.termsnservices {
  margin-top: 3em;
  opacity: 0.7;
  border-top: 1px solid #db2763;
  padding-top: 0.7em;
}

.email-disclaimer {
  margin-top: 0.3em;
  opacity: 0.7;
}

ol {
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

#seatSelection {
  width: 66%;
  border-bottom: 2px solid #ff9a8b;
  padding-bottom: 10px;
  border-top: 2px solid #ff9a8b;
}

.seat-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seats-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* .seats-parent{
    display:none;
} */
.seat-passenger-content {
  color: #ff9a8b;
  font-size: 0.9rem;
  padding-left: 2.1em;
}

.seat-name {
  letter-spacing: 0.05em;
}

.seat-id {
  white-space: pre;
}

.allPass {
  /* border: 2px solid transparent;
    border-image: linear-gradient(45deg, $grad-red, $grad-pink);
    border-image-slice: 1; */
  padding: 0.7em 0.5em;
  width: 12.5em;
  height: 5.7em;
  margin-bottom: 1em;
  background-color: rgba(42, 42, 48, 0.4);
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.allPass:hover {
  background-color: #2a2a30;
}

#p-0 {
  border: 2px solid transparent;
  -o-border-image: linear-gradient(45deg, #db2763, #ff9a8b);
     border-image: linear-gradient(45deg, #db2763, #ff9a8b);
  border-image-slice: 1;
}

.right-seats {
  overflow-y: scroll;
  height: 29em;
}

#seatSelection {
  margin-left: 2em;
}

#cross-btn {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 800;
  color: #db2763;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

#cross-btn i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.2em;
}

#cross-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pass-name-seats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-name-seats {
  white-space: pre-line;
}

.personal-details-slide-up-line {
  border: none;
  border-top: 1px solid #db2763;
  margin-top: 1em;
  margin-bottom: 1em;
}

#detailsButton1,
#detailsButton2,
#detailsButton3 {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  background-image: linear-gradient(50deg, #db2763, #ff9a8b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0.7em;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#detailsButton1:hover,
#detailsButton2:hover,
#detailsButton3:hover {
  /* animation: scalePop;
        animation-name: rubberBand;
        animation-duration: 300ms; */
  -webkit-animation: scalePop 400ms ease-in forwards;
          animation: scalePop 400ms ease-in forwards;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#detailsButton1 i,
#detailsButton2 i,
#detailsButton3 i {
  pointer-events: none;
  margin-bottom: 0.5em;
}

.whostravelling-main-title,
.payments-main-title,
.select-seats-main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes scalePop {
  0% {
    background-image: linear-gradient(50deg, #ff9a8b, #ff9a8b);
  }
  25% {
    background-image: linear-gradient(50deg, #ff9a8b, #ff9a8b);
  }
  50% {
    background-image: linear-gradient(50deg, #ff9a8b, #db2763);
  }
  75% {
    background-image: linear-gradient(50deg, #db2763, #db2763);
  }
  100% {
    background-image: linear-gradient(50deg, #db2763, #db2763);
  }
}

@keyframes scalePop {
  0% {
    background-image: linear-gradient(50deg, #ff9a8b, #ff9a8b);
  }
  25% {
    background-image: linear-gradient(50deg, #ff9a8b, #ff9a8b);
  }
  50% {
    background-image: linear-gradient(50deg, #ff9a8b, #db2763);
  }
  75% {
    background-image: linear-gradient(50deg, #db2763, #db2763);
  }
  100% {
    background-image: linear-gradient(50deg, #db2763, #db2763);
  }
}

.pay-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay-up .pay-div-up-sub-title {
  font-size: 1.1rem;
  color: #f0f7ee;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.pass-dets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pass-dets div:not(.pass-dets-sub-title) {
  margin-left: 0.2em;
  margin-top: 3px;
}

.rev-booking-all-dets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rev-booking-all-dets div:not(.rev-booking-all-dets-sub-title) {
  margin-left: 0.2em;
  margin-top: 3px;
}

.rev-booking-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rev-booking-item div:not(.rev-booking-sub-title) {
  margin-left: 0.2em;
  margin-top: 2px;
}

.rev-booking-sub-title,
.rev-booking-all-dets-sub-title,
.pass-dets-sub-title {
  font-size: 1.1rem;
  color: #f0f7ee;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.formi input:not(.email) {
  text-transform: capitalize;
}

/*========================================SEAT BOOKING=====================================================================*/
::-moz-selection {
  background-color: #eee;
}
::selection {
  background-color: #eee;
}

::-moz-selection {
  background-color: #eee;
}

/* body {
    font-size: 16px;
    background-color: #269686;
  } */
.theatre {
  margin: 20px auto;
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px 10px;
  -webkit-box-shadow: 0px 0px 17px -4px #000;
          box-shadow: 0px 0px 17px -4px #000;
}

.screen-side {
  text-align: center;
}

.screen-side .screen {
  height: 25px;
  margin: 0 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0px -3px 0px 1px #ccc;
          box-shadow: 0px -3px 0px 1px #ccc;
  color: #ccc;
}

.screen-side .select-text {
  color: #969696;
}

.exit {
  position: relative;
  height: 50px;
}

.exit:before,
.exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 5px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: #81c784;
  color: white;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.exit:before {
  left: 0;
}

.exit:after {
  right: 0;
}

.seats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.seat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
  padding-right: 20px;
  padding-top: 3px;
  position: relative;
}

.seat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.seat input[type="checkbox"]:checked + label {
  background-image: linear-gradient(35deg, #db2763, #ff9a8b);
  color: #2a2a30;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.seat input[type="checkbox"]:disabled + label {
  background: transparent;
  text-indent: -9999px;
  overflow: hidden;
}

.seat input[type="checkbox"]:disabled + label:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: #f3093c;
}

.seat input[type="checkbox"]:disabled + label {
  border: 3px solid #f3093c;
}

.seat input[type="checkbox"]:disabled + label:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.seat label {
  display: block;
  position: relative;
  width: 100%;
  height: 2.5em;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 5px 0;
  background-image: linear-gradient(35deg, #db2763, #101011);
  border-radius: 25%;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  /* display:flex;
    justify-items:center;
    align-items: center; */
}

.seat label:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0 7px 3px #ff9a8b;
          box-shadow: 0px 0 7px 3px #ff9a8b;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.payment-parent-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-left {
  width: 60%;
}

#card4,
#card5,
#card6,
#card7 {
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
}

#card4 {
  height: 47em;
}

#card4 #passForm {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

#card5 {
  height: 7em;
}

#card5 #payForm {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

#card6 {
  height: 7em;
}

#card6 #seatSelection {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

#card6 .seats-parent {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

#card7 {
  height: 7em;
}

#card7 #revBooking {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.background-image-crossfade-1, .background-image-crossfade-2, .background-image-crossfade-3, .background-image-crossfade-4, .background-image-crossfade-5, .background-image-crossfade-6 {
  position: fixed;
  top: 0;
  left: 60%;
  width: 100%;
  height: 100%;
}

.background-image-crossfade-1 {
  background: url("./images/payment_Illustrations/bg-1.png");
  background-size: contain;
  width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.background-image-crossfade-2 {
  background: url("./images/payment_Illustrations/bg-2.png");
  background-size: contain;
  width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.background-image-crossfade-3 {
  background: url("./images/payment_Illustrations/bg-3.png");
  background-size: contain;
  width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.background-image-crossfade-4 {
  background: url("./images/payment_Illustrations/bg-4.png");
  background-size: contain;
  width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.background-image-crossfade-5 {
  background: url("./images/payment_Illustrations/bg-5.png");
  background-size: contain;
  width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.background-image-crossfade-6 {
  background: url("./images/payment_Illustrations/bg-6.png");
  background-size: contain;
  width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

@-webkit-keyframes background-image-crossfade-animation {
  0% {
    opacity: 1;
  }
  11.90476% {
    opacity: 1;
  }
  16.66667% {
    opacity: 0;
  }
  95.2381% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes background-image-crossfade-animation {
  0% {
    opacity: 1;
  }
  11.90476% {
    opacity: 1;
  }
  16.66667% {
    opacity: 0;
  }
  95.2381% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-images-crossfade div:nth-of-type(1) {
  -webkit-animation-delay: 35s;
          animation-delay: 35s;
}

.container-images-crossfade div:nth-of-type(2) {
  -webkit-animation-delay: 28s;
          animation-delay: 28s;
}

.container-images-crossfade div:nth-of-type(3) {
  -webkit-animation-delay: 21s;
          animation-delay: 21s;
}

.container-images-crossfade div:nth-of-type(4) {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.container-images-crossfade div:nth-of-type(5) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.container-images-crossfade div:nth-of-type(6) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.container-images-crossfade div {
  -webkit-animation-name: background-image-crossfade-animation;
          animation-name: background-image-crossfade-animation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
}

.payment-loader {
  width: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.payment-loader .binding {
  content: '';
  width: 60px;
  height: 4px;
  border: 2px solid #9b72ee;
  margin: 0 auto;
}

.payment-loader .pad {
  width: 70px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid white;
  padding: 6px;
  margin: 0 auto;
}

.payment-loader .chip {
  width: 12px;
  height: 8px;
  background: white;
  border-radius: 3px;
  margin-top: 4px;
  margin-left: 3px;
}

.payment-loader .line {
  width: 52px;
  margin-top: 6px;
  margin-left: 3px;
  height: 4px;
  background: white;
  border-radius: 100px;
  opacity: 0;
  -webkit-animation: writeline 3s infinite ease-in;
  animation: writeline 3s infinite ease-in;
}

.payment-loader .line2 {
  width: 32px;
  margin-top: 6px;
  margin-left: 3px;
  height: 4px;
  background: white;
  border-radius: 100px;
  opacity: 0;
  -webkit-animation: writeline2 3s infinite ease-in;
  animation: writeline2 3s infinite ease-in;
}

.payment-loader .line:first-child {
  margin-top: 0;
}

.payment-loader .line.line1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.payment-loader .line.line2 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.payment-loader .loader-text p:nth-child(1) {
  color: white;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation: textline1 3s infinite ease-in;
          animation: textline1 3s infinite ease-in;
}

.payment-loader .loader-text p:nth-child(2) {
  margin-top: 10px;
  color: white;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation: textline2 3s infinite ease-in;
          animation: textline2 3s infinite ease-in;
}

@-webkit-keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }
  33% {
    width: 52px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }
  33% {
    width: 52px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes writeline2 {
  0% {
    width: 0px;
    opacity: 0;
  }
  33% {
    width: 32px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes writeline2 {
  0% {
    width: 0px;
    opacity: 0;
  }
  33% {
    width: 32px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes textline1 {
  0% {
    width: 0%;
    opacity: 0;
  }
  33% {
    width: 100%;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes textline1 {
  0% {
    width: 0%;
    opacity: 0;
  }
  33% {
    width: 100%;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes textline2 {
  0% {
    width: 100%;
    opacity: 0;
  }
  33% {
    width: 100%;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes textline2 {
  0% {
    width: 100%;
    opacity: 0;
  }
  33% {
    width: 100%;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=payment.css.map */