/* $text-colour:rgb(82, 3, 20);
$dot-colour:rgb(136, 48, 67); */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.button {
  --primary: #484849;
  --primary-dark: #2e2e2e;
  --primary-darkest: #111111;
  /* --primary: rgb(240, 247, 238);
    --primary-dark: #8a8a8a;
    --primary-darkest: #484849; */
  --text: #FFFFFF;
  --text-opacity: 1;
  --success: #2B3044;
  --success-scale: .2;
  --success-opacity: 0;
  --border-radius: 0;
  --overflow: hidden;
  --rotate: 0;
  --plane-x: 0;
  --plane-y: 0;
  --plane-opacity: 1;
  --left-wing-background: var(--primary);
  --left-wing-first-x: 0;
  --left-wing-first-y: 0;
  --left-wing-second-x: 50;
  --left-wing-second-y: 0;
  --left-wing-third-x: 0;
  --left-wing-third-y: 100;
  --left-body-background: var(--primary);
  --left-body-first-x: 50;
  --left-body-first-y: 0;
  --left-body-second-x: 50;
  --left-body-second-y: 100;
  --left-body-third-x: 0;
  --left-body-third-y: 100;
  --right-wing-background: var(--primary);
  --right-wing-first-x: 50;
  --right-wing-first-y: 0;
  --right-wing-second-x: 100;
  --right-wing-second-y: 0;
  --right-wing-third-x: 100;
  --right-wing-third-y: 100;
  --right-body-background: var(--primary);
  --right-body-first-x: 50;
  --right-body-first-y: 0;
  --right-body-second-x: 50;
  --right-body-second-y: 100;
  --right-body-third-x: 100;
  --right-body-third-y: 100;
  display: block;
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 8px 3.5em;
  width: 300px;
  text-align: center;
  margin: 0;
  line-height: 60px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  background: none;
  outline: none;
  color: var(--text);
  -webkit-transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
          transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.button .left,
.button .right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: var(--plane-opacity);
  -webkit-transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px)) translateZ(0);
          transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px)) translateZ(0);
}

.button .left:before, .button .left:after,
.button .right:before,
.button .right:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: calc(var(--border-radius) * 1px);
  -webkit-transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
          transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
  z-index: var(--z-index, 2);
  background: var(--background, var(--left-wing-background));
  -webkit-clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
          clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
}

.button .left:after {
  --x: 0;
  --z-index: 1;
  --background: var(--left-body-background);
  --first-x: var(--left-body-first-x);
  --first-y: var(--left-body-first-y);
  --second-x: var(--left-body-second-x);
  --second-y: var(--left-body-second-y);
  --third-x: var(--left-body-third-x);
  --third-y: var(--left-body-third-y);
}

.button .right:before {
  --x: -.4%;
  --z-index: 2;
  --background: var(--right-wing-background);
  --first-x: var(--right-wing-first-x);
  --first-y: var(--right-wing-first-y);
  --second-x: var(--right-wing-second-x);
  --second-y: var(--right-wing-second-y);
  --third-x: var(--right-wing-third-x);
  --third-y: var(--right-wing-third-y);
}

.button .right:after {
  --x: 0;
  --z-index: 1;
  --background: var(--right-body-background);
  --first-x: var(--right-body-first-x);
  --first-y: var(--right-body-first-y);
  --second-x: var(--right-body-second-x);
  --second-y: var(--right-body-second-y);
  --third-x: var(--right-body-third-x);
  --third-y: var(--right-body-third-y);
}

.button span {
  display: block;
  position: relative;
  z-index: 4;
  opacity: var(--text-opacity);
}

.button span.success {
  z-index: 0;
  position: absolute;
  left: 4.5em;
  right: 0;
  top: 8px;
  -webkit-transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale)) translateZ(0);
          transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale)) translateZ(0);
  opacity: var(--success-opacity);
  color: var(--success);
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #101011;
  font-family: "Average Sans", sans-serif;
}

.default .loader-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2e2e2e;
  font-size: 2.5rem;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default .loader-content .loader-text {
  background-image: linear-gradient(45deg, #f0f7ee, #fa6a89);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.default .dot-typing {
  margin-top: 0.5em;
  margin-left: 0.5em;
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #484849;
  color: #484849;
  -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
          box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  -webkit-animation: dotTyping 1.5s infinite linear;
          animation: dotTyping 1.5s infinite linear;
}

@-webkit-keyframes dotTyping {
  0% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
  16.667% {
    -webkit-box-shadow: 9984px -10px 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px -10px 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
  33.333% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
  50% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px -10px 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px -10px 0 0 #484849, 10014px 0 0 0 #484849;
  }
  66.667% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
  83.333% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px -10px 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px -10px 0 0 #484849;
  }
  100% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
}

@keyframes dotTyping {
  0% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
  16.667% {
    -webkit-box-shadow: 9984px -10px 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px -10px 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
  33.333% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
  50% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px -10px 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px -10px 0 0 #484849, 10014px 0 0 0 #484849;
  }
  66.667% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
  83.333% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px -10px 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px -10px 0 0 #484849;
  }
  100% {
    -webkit-box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
            box-shadow: 9984px 0 0 0 #484849, 9999px 0 0 0 #484849, 10014px 0 0 0 #484849;
  }
}

.success .loader-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f21f4b;
  font-size: 2.5rem;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success .loader-content .loader-text {
  background-image: linear-gradient(45deg, #ff9a8b, #fa6a89);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.success .dot-typing {
  margin-top: 0.5em;
  margin-left: 0.5em;
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fa6a89;
  color: #fa6a89;
  -webkit-box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
          box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
  -webkit-animation: dotTyping 1.5s infinite linear;
          animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    -webkit-box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
            box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
  }
  16.667% {
    -webkit-box-shadow: 9984px -10px 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
            box-shadow: 9984px -10px 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
  }
  33.333% {
    -webkit-box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
            box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
  }
  50% {
    -webkit-box-shadow: 9984px 0 0 0 #fa6a89, 9999px -10px 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
            box-shadow: 9984px 0 0 0 #fa6a89, 9999px -10px 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
  }
  66.667% {
    -webkit-box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
            box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
  }
  83.333% {
    -webkit-box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px -10px 0 0 #fa6a89;
            box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px -10px 0 0 #fa6a89;
  }
  100% {
    -webkit-box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
            box-shadow: 9984px 0 0 0 #fa6a89, 9999px 0 0 0 #fa6a89, 10014px 0 0 0 #fa6a89;
  }
}
/*# sourceMappingURL=plane-loader.css.map */