* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("./images/night-gabriel-santos-usplash.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Average Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-parent {
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.562);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-content {
  width: 70%;
  height: auto;
}

.form-heading {
  font-family: 'Overlock', cursive;
  font-size: 2.2rem;
  margin-bottom: 0.5em;
  font-weight: 700;
  background-image: linear-gradient(75deg, #14d4d4, #db2763);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.formi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  margin-top: 1em;
}

.formi-email {
  margin-top: 0;
}

.formi input {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  color: #f0f7ee;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  padding-top: 1.5rem;
}

.formi input:focus + .label-name .content-name,
.formi input:valid + .label-name .content-name {
  /* :valid ensures that when input text is added and the focus is shifted somwehere else
            the label doesn't come back to its initial position*/
  color: #f0f7ee;
  font-size: 0.99em;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.formi label {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-bottom: 2px solid #14d4d4;
  color: #14d4d4;
}

.formi label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #f0f7ee;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /*Moving the blue line out of frame initially also, 
            since overflow is not hidden it is visible on the frame when overflow:hidden; 
            not applied to parent*/
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.content-name {
  position: absolute;
  top: 1.6rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 1.1em;
}

.formi input:focus + .label-name::after,
.formi:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  border-color: #f0f7ee;
}

.formi-name input {
  text-transform: capitalize;
}

.gender-radio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gender-radio-button {
  color: #14d4d4;
  margin-top: 1em;
}

.gender-radio-button label {
  position: relative;
  margin: 0.675rem 0;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(120deg, #14d4d4, #f0f7ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gender-radio-button .check {
  margin-right: 7px;
  width: 1.35rem;
  height: 1.35rem;
}

.gender-radio-button .check #border {
  fill: none;
  stroke: #db2763;
  stroke-width: 3;
  stroke-linecap: round;
}

.gender-radio-button .check #dot {
  fill: url(#gradient);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.gender-radio-button input {
  display: none;
}

.gender-radio-button input:checked + label svg #border {
  stroke: url(#gradient);
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  -webkit-animation: checked 500ms ease forwards;
          animation: checked 500ms ease forwards;
}

.gender-radio-button input:checked + label svg #dot {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: -webkit-transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25), -webkit-transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
}

@-webkit-keyframes checked {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes checked {
  to {
    stroke-dashoffset: 0;
  }
}

.gender-radio-button .female {
  margin-left: 1rem;
}

.register-btn {
  position: relative;
  display: inline-block;
  outline: none;
  width: 244px;
  height: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.045em;
  font-family: 'Overlock', cursive;
}

.invisible-btn {
  outline: none;
  background: transparent;
  text-decoration: none;
  border: none;
  margin: 2.5em 20em;
}

.register-btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.register-btn svg rect {
  /*stroke: #EC0033;*/
  stroke-width: 3;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.register-btn span {
  background: #ff8282;
  background-image: -webkit-gradient(linear, left top, right top, from(#14d4d4), to(#db2763));
  background-image: linear-gradient(to right, #14d4d4 0%, #db2763 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.register-btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 170, 543;
  stroke-dashoffset: 437;
}
/*# sourceMappingURL=register.css.map */