.bdy{
    background: #656769;
}


.rightsection{
    margin-left: 320px;
    margin-top: 25px;
}




/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100hv;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color:  #656769;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1.2rem;
    width: 15%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
    font-size: 1rem;
  }
  
  #Home {background-color:#323233;}
  #News {background-color:#323233;}
  #Contact {background-color:#323233;}
  #About {background-color: #323233;}
  #cancelled{background-color: #323233;}



#drop{
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15%;
  background-color: #555;
    color: white;
    border: none;
    float: right;
}



/*    ....................................................................................................  */
/* The sidebar menu */
.sidenav {
    margin-left: 20px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #656769; /* gray */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  #sidenavsec{
    margin-top: 250px;
    background-color: #4f4f4d;
    margin-bottom: 50px;
    padding-bottom: 100px;
    width: 275px;
    height: 450px;
}
.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    background-color: aquamarine;
  }
  .active-pink input.form-control[type=text] {
    border-bottom: 1px solid #131212;
    box-shadow: 0 1px 0 0 aquamarine;
    background: aquamarine;
  }
  


  #exampleRadio4{
    margin-left: 10px;
  }
  #search4{
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #radiobtn{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 5px;
  }
  #rd{
    margin-left: 15px;
  }
  #datea{
    color: #000000;
    margin-left: 10px;
    margin-top: 15px;
    font-weight: 900;
    font-size: 1.2rem;
    margin-right: 5px;
  }
  #texta{
    color: #000000;
    font-weight: bold;
  }
  #tabsearch{
    margin-bottom: 10px;
  }
  #submitbtn{
    width: 90px;
    background-color: #000000;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

 #exampleRadios2{
   width: 15px;
 }
 input[type=radio]{
  transform:scale(1.5);
}

td {
padding-left:30px;
text-align:center;

}
